VITE_FIREBASE_API_KEY=AIzaSyD1S0U3aKNCY5Gnl6J2NRUCZ-FeFVxDUq8
VITE_FIREBASE_AUTH_DOMAIN=clicksolver-technologies-d41bd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=clicksolver-technologies-d41bd
VITE_FIREBASE_STORAGE_BUCKET=clicksolver-technologies-d41bd.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=250378865391
VITE_FIREBASE_APP_ID=1:250378865391:web:d25efefe8a6c05c5fb291a
VITE_FIREBASE_MEASUREMENT_ID=G-JKBET0RNV6